/*********** FILTER MENU ***********/

.filterButton {
    width: 0px;
    height: 0px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.filterButton-inner {
    position: relative;
    width: 17px;
    height: 17px;
}

.line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 1px;
    background-color: #3b3b3b;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.filterButton .open #line1 {
    transform: translateY(0%);
}

.filterButton .open #line2 {
    transform: rotate(-180deg);
}

.filterButton .closed #line1 {
    transform: rotate(90deg);
}

.filterButton .closed #line2 {
    transform: rotate(0deg);
}

@media not all and (hover: none) and (pointer: coarse) {
    .filter:hover .filterButton .closed #line1 {
        transform: rotate(-90deg);
    }

    .filter:hover .filterButton .closed #line2 {
        transform: rotate(-180deg);
    }
}
